section{
    width: 100%;
    background: black;
    min-height: 870px;
    max-height: 1100px;
    height: 100%;
}
.container{
    width: 1170px;
    position: relative;
    margin: 0 auto;
}
.slider .container{
    display: table;
    min-height: inherit;
    max-height: inherit;
    height: inherit;
}
.slider-center{
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.logo{
    width: 250px;
    height: 250px;
}
.main-title{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 42px;
    max-width: 830px;
    display: block;
    margin: 0 auto; 
    margin-top: 145px; 
    line-height: 1.5;
    letter-spacing: 3px;
}
.main-subtitle{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    max-width: 830px;
    display: block;
    margin: 0 auto; 
    margin-top: 45px; 
    line-height: 1.5;
    letter-spacing: 3px;
}
.select-choosecountry select{
    width: 100%;
    background: white;
    background: transparent;
    height: 100%;
    padding-left: 10px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px; 
    -webkit-appearance: none;
    color: black;

}
.select-choosecountry{
    background-color: white;
    background-image: url(../img/down_arrow_select.png);
    background-repeat: no-repeat;
    background-position: 98%;
    width: 570px;
    height: 60px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 105px;
    border: 1px;
    border-radius: 5px;

}
.getconsult{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 570px;
    height: 90px;
    border: 0px;
    background: #00aeef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
    font-size: 24px;
    text-shadow: 0px -1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px #0078a4;
    -moz-box-shadow:    0px 10px #0078a4;
    box-shadow:         0px 10px #0078a4;
}